body {
  background-color: #f6f1eb;
}

/* .AboutWrapper {
  position: relative;
  animation-name: wrapper-slide;
  animation-duration: 1s;
} */

.AboutMe {
  display: flex;
  justify-content: center;
  font-family: 'Fira Code', monospace;  font-size: 22px;
  color: #444;
  text-indent: 50px;
  margin: 5% 15%;
  padding: 5%;
  background-color: #fffcf7;
  /* font-weight: bold; */
  position: relative;
  animation-name: slide;
  animation-duration: 1s;
}

.AboutText {
  font-family: 'Fira Code', monospace;  font-size: 22px;
  position: relative;
  animation-name: slide;
  animation-duration: 1.5s;
}

/* @keyframes wrapper-slide {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0px;
  }
} */

@keyframes slide {
  0% {
    bottom: -500px;
  }
  100% {
    bottom: 0px
  }
}

@media screen and (max-width : 850px) {
  .AboutMe {
    margin: 0 auto;
    font-size: 18px;
  }
}

