body {
  background-color: #f6f1eb;
}

.AboutMe {
  display: flex;
  justify-content: center;
  font-family: 'Fira Code', monospace;  font-size: 22px;
  color: #444;
  text-indent: 50px;
  margin: 5% 15%;
  padding: 5%;
  background-color: #fffcf7;
  /* font-weight: bold; */
}