.anchor {
  position: absolute;
  transform: translateY(-15vh);
}

.PortfolioItem {
  font-family: 'Fira Code', monospace;
  color: #444;
  background-color: #fffcf7;
  min-height: 425px;
  margin: 50px 10%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  animation-name: slide;
  animation-duration: 1s;
}

.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 10px; */
  max-width: 400px;
}

.Right {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 10px;
  max-width: 400px;
}

.Title {
  text-align: center;
  position: relative;
  animation-name: slide;
  animation-duration: 1s;
  /* grid-area: title; */
}

.Thumbnail {
  display: flex;
  box-shadow: 0px 8px 15px -10px black;
  max-width: 400px;
  max-height: 250px;
  /* grid-area: img; */
  margin: 0 auto;
  position: relative;
  animation-name: slide;
  animation-duration: 1.25s;
}

.Tag {
  display: flex;
  margin-top: 10px;
  /* grid-area: icons;  */
}

.Tag i {
  background-color: gray;
  border: gray solid;
  border-radius: 25px;
  margin: 2px;
  font-size: small;
  color: white;
  padding: 1px 4px;
  font-style: normal;
}

.Icon {
  /* grid-area: icons; */
  display: flex;
  justify-content: center;
  margin-top: 5px;
  position: relative;
  animation-name: slide;
  animation-duration: 1.35s;
}

.Icon i {
  margin: 10px;
}

.ExpressJS {
  display: flex;
  align-items: baseline;
}

.ExpressJS span {
  margin-left: 10px;
}

.ExpressJS i {
  margin: 10px 0px;
  color: #e9d44d;
}

.Buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
  position: relative;
  animation-name: slide;
  animation-duration: 1.45s;
}

.Buttons a {
  color: #444444;
  border: solid #444444 2px;
  border-radius: 25px;
  padding: 8px 30px 10px 30px;
  margin: 0 20px;
}

.Buttons a:hover {
  color: white;
  transition-duration: 0.5s;
  text-decoration: none;
}

.LiveButton:hover {
  background-color: #0366d6;
  border: solid #0366d6 2px;
}

.CodeButton:hover {
  background-color: #30c452;
  border: solid #30c452 2px;
  color: white;
}

.DescriptionHeader {
  text-align: center;
  position: relative;
  animation-name: slide;
  animation-duration: 1.65s;
  /* font-weight: normal; */
  /* grid-area: desc; */
}

.Description {
  position: relative;
  animation-name: slide;
  animation-duration: 1.75s;
}

@media screen and (min-width: 360px) and (max-width: 1140px) {
  
  .PortfolioItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .Left {
    max-width: 100%;
  }

  .Right {
    max-width: 100%;
  }

  .Thumbnail {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  
  .Description {
    margin: 0 auto;
    max-width: 400px;
  }

  .Buttons a {
    margin: 0 10px;
  }  
}

/* @media screen and (min-width: 360px) {} */

