.NavElement {
  display: flex;
  flex-direction: column;
}

.NavElement a {
  color: black;
}

.NavElement span {
  margin-top: 5px;
}

@media screen and (max-width: 850px) {
  .NavElement span {
    display: none;
  }
}