.Navigation {  
  font-family: 'Fira Code', monospace;
  color: #444;
  text-align: center;
  top: 0;
  background-color:#f6f1eb;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  /* box-shadow: 0 15px 25px -20px black; */
}

.Items {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: 0 auto;
}

@media screen and (min-width: 360px) and (max-width: 850px) {

  .Items {
    width: 100%;
    justify-content: space-around;
  }

}

.Navigation a {
  color: black;
}

.fa-code {
  transition: 0.3s;
}

.fa-code:hover {
  color: darkgrey;
}

.fa-github {
  transition: 0.3s;
}
.fa-github:hover {
  color: #30c452;
}

.fa-user {
  transition: 0.3s;
}
.fa-user:hover {
  color: #4267b2;
}

.fa-linkedin {
  transition: 0.3s;
}
.fa-linkedin:hover {
  color: #0077B5;
}


.fa-envelope {
  transition: 0.3s;
}
.fa-envelope:hover {
  color: #d74638;
}